<!--This is the generated html page.
    The used template engine is: "ejs"  -->
<html>
<h1>Masterprojekt: Load-Balancing Aufgaben</h1>
<body>
    <table border="1">
            
        <tr bgcolor=<%= color %>> 
            <td>MiniWhoami</td>
            <td></td>
        </tr>
        <tr>
        <!--Show the hostname  -->
            <td>Hostname</td>
            <td><%= hostName %></td> 
        </tr>
        <!--Show the IP-Address  -->
        <tr>
            <td>Local Adress</td>
            <td><%= hostIp %></td> 
        </tr>
    </table>
</body>
</html>